<section class="players-board">
  <h2>Players Board</h2>

  @if (paginatedPlayers.length > 0) {
    <div class="players-grid">
      @for (player of paginatedPlayers; track player._id) {
        <app-player-item [player]="player"></app-player-item>
      }
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">
        ⬅ Previous
      </button>
      <span>Page {{ currentPage }} of {{ mathCeil(players.length ,itemsPerPage) }}</span>
      <button
        (click)="nextPage()"
        [disabled]="currentPage === mathCeil(players.length, itemsPerPage)"
      >
        Next ➡
      </button>
    </div>
  } @else {
    <p class="empty-message">No players available.</p>
  }
</section>
